@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-content {
    background: #0f140f;
    color: rgba(125, 225, 125, 0.75);
    font-family: 'VT323', monospace;
    font-size: 1em;
    text-shadow: 0 0 5px rgba(125, 225, 125, 0.5), 0 0 15px rgba(125, 250, 125, 1);
}
.pulse {
    animation: Pulse 1s ease infinite;
}

@keyframes Pulse {
    0% {
        opacity:  0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

